doctype html 
html 
    head 
        title About 
        link(rel='stylesheet',href='css/style.css')
    body 
        h1 About Me 
        p This is the about page 
        a(href='index.html') Home  