doctype html 
html 
    head 
        title Home 
        Link(rel='stylesheet', href='css/style.css')
    body 
        h1 Welcome to my portfolio 
        p This is the homepage 
        a(href='about.html') About me   